{% load static %}<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Political Insights{% endblock %}</title>
    <link rel="mask-icon" type="image/png" href="/favicon.ico"> <!-- TODO: http://faviconit.com -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
 
  <body>
    <div class="container">
      <div class="row">
        <h1>Political Insights</h1>	<!-- TODO: add in as image -->
      </div>

      <!-- wrap whole page in form so everything submits with each submit -->
      <form method="post">
        <!-- user address field -->
        <div class="row">
          {% csrf_token %}
          {{ user_address_form.as_p }}
          <button type="submit" class="btn btn-success">Submit</button>
        </div>

        <!-- Content -->
        <div class="row">
          {% block content %}
          {% endblock %}
        </div>
      </form>

    </div>
  </body>

</html>