{% load static %}<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Political Insights{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family= Libre+Baskerville" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="mask-icon" type="image/png" href="../img/favicon.ico"> <!-- TODO: http://faviconit.com -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
 
  <body>
    <div class="container">
      <div class="row">
        <div class="col-10">
          <h1>Political Insights</h1>	<!-- TODO: add in as image -->
        </div>
        <div class="col-2">
          {% block nav_button %}<a href="#" class="btn btn-info" role="button">About</a>{% endblock %}
        </div>
      </div>

      <!-- wrap whole page in form so everything submits with each submit -->
      <form method="post">
        <!-- user address field -->
        {% block searchbar %}
          <div class="row">
            {% csrf_token %}
            {{ user_address_form.as_p }}
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
          </div>
        {% endblock %}

        <!-- Content -->
        <div class="row">
          {% block content %}
          {% endblock %}
        </div>
      </form>

    </div>
  </body>

</html>