{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">

  <!-- row of reps -->
  {% block rep_row %}
    <div class="row">
      <h2>Your Representatives</h2>
    </div>

    <div class="row">
      <div class="btn-group" data-toggle="buttons">
        {% for rep in selected_rep_form.selected_rep %}
          {% if i_rep_name == rep.choice_label.name %}
            <label for="{{ rep.id_for_label }}" class="btn btn-primary" >
          {% else %}
            <label for="{{ rep.id_for_label }}" class="btn btn-link" >
          {% endif %}
            <img src="{{ rep.choice_label.img_url }}" alt="{{ rep.choice_label.name }}" height="165" width="135" class="rounded"><br>
            {{ rep.choice_label.official_title }}<br>
            {{ rep.choice_label.name }}<br>
            <span class="radio">{{ rep.tag }}</span>
          </label>
        {% endfor %}
      </div>
    </div>
  {% endblock %}

  {% block metrics %}
    <!-- page navigation tabs -->
    <div class="row">
      <div class="btn-group" data-toggle="buttons">
        {% for selected_metric in selected_metric_form.selected_metric %}
          {% if metric == selected_metric.choice_label %}
            <label for="{{ selected_metric.id_for_label }}" class="btn btn-primary" >
          {% else %}
            <label for="{{ selected_metric.id_for_label }}" class="btn btn-info" >
          {% endif %}
            {{ selected_metric.choice_label }}
            <span class="radio">{{ selected_metric.tag }}</span>
          </label>
        {% endfor %}
      </div>
    </div>

    <!-- metrics stuff -->
    <div class="row border" >

      <!-- left side graphic plus explanation -->
      {% if fig_explanation %} <!-- removes section if no graph -->
        <div class="col-4">
          <div class="row">
              <!-- <img src="/charts_graph/?metric={{ metric }}&amp;rep_id={{ i_rep }}"> -->
              {{ fig }}
          </div>
        </div>
      {% endif %}

      <!-- right side big number charts-->
      <div class="col-8">
        <table>
          {% for quick_stat in quick_stat_dict.values %}
            <tr>
              <th scope="row">{{ quick_stat.stat }}</th>
              <td>{{ quick_stat.stat_explanation }}</td>
            </tr>
          {% endfor %}

          <tr><td colspan="2">{{ fig_explanation }}</td></tr>
        </table>
    </div>
    
<!-- DELETE THIS AFTER DEBUGGING -->
<!-- <div class="row">
posted_data: {{ posted_data }}
<br>
real image:
<br>
<img src="/metrics_graph/?metric={{ metric }}&amp;rep_id={{ i_rep }}">
</div> -->
<!-- END OF DELETE -->
  {% endblock %}
{% endblock %}