{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">

  <!-- row of reps -->	<!-- TODO: activate button of current page, https://stackoverflow.com/questions/4626431/highlight-the-navigation-menu-for-the-current-page -->
  {% block rep_row %}
    <div class="row">
      <h2>Your Representatives</h2>
    </div>

    <div class="row">
      <div class="btn-group" data-toggle="buttons">
        {% for rep in selected_rep_form.selected_rep %}
          <label for="{{ rep.id_for_label }}" class="btn btn-link">
            <img src={{ rep.choice_label.img_url }} alt={{ rep.choice_label.name }} height="165" width="135" class="rounded"><br>
            {{ rep.choice_label.official_title }}<br>
            {{ rep.choice_label.name }}<br>
            <span class="radio">{{ rep.tag }}</span>
          </label>
        {% endfor %}
      </div>
    </div>
  {% endblock %}

  {% block metrics %}
    <!-- page navigation tabs -->
    <div class="row">
      <div class="btn-group" data-toggle="buttons">
        {% for metric in selected_metric_form.selected_metric %}
          <label for="{{ metric.id_for_label }}" class="btn btn-primary">
            {{ metric.choice_label }}
            <span class="radio">{{ metric.tag }}</span>
          </label>
        {% endfor %}
      </div>
    </div>

    <!-- metrics stuff -->
    <div class="row"><!-- can I make an outline? -->
      <!-- left side graphic plus explanation -->
      <div class="column">
        <!-- graphic -->
        <div class="row">
          <img src="/metrics_graph/?metric={{ metric }}&amp;rep_id={{ i_rep }}">
        </div>
        <!-- explanation -->
        <div class="row">
          {{ fig_explanation }}
        </div>
      </div>
  
      <!-- right side big number charts-->
      <div class="column">
        {% for quick_stat in quick_stat_dict.values %}
          <div class="row">
            <div class="column">{{ quick_stat.stat }}</div>
            <div class="column">{{ quick_stat.stat_explanation }}</div>
          </div>
        {% endfor %}
      </div>

    </div>
    
<!-- DELETE THIS AFTER DEBUGGING -->
<div class="row">
posted_data: {{ posted_data }}
</div>
<!-- END OF DELETE -->
  {% endblock %}
{% endblock %}